body{
    font-size: 1.5rem;
    margin: auto;
    background-color: rgb(221, 236, 236);
    font-family: 'Roboto Slab', serif;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: 800;
    color: black;

}
.contianer {
    width:60%;
}
section{
    text-align: center;
}
h1 {text-align: center;}